<div class="jumbotron">
    <h2 class="text-center">Filtrar noticias por pais y categoría</h2>
    <div class="col-lg-8 offset-lg-2">
        <form (ngSubmit)="searchNew()">
            <div class="form-group">
                <select name="category" [(ngModel)]="catSelected" class="form-control">
                  <option [value]="item.value" *ngFor="let item of categories">{{item.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <select name="country" [(ngModel)]="couSelected" class="form-control">
                  <option [value]="item.value" *ngFor="let item of countries">{{item.name}}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-block">Buscar</button>
        </form>
    </div>
</div>